<html>
   <head>
    <title>Resultados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
<div>
<style>
body {
    text-align: center;
}
form {
    display: inline-block;
}
.column {
        float: left;
        width: 50%;
        }
</style>
      {% block content %}
      <div class="container" style="color: #fff;">
            <div class="row">
                <div class="column" style="padding-top: 10%;">
                    <img src="https://files.fm/thumb_show.php?i=p5xnasucm" alt="" width="75%">
                </div>
                <div class="column card" style = "padding:40px; height: 600px; width: 50%; box-shadow: 0px 0px 2px 2px #d3d3d3; border-radius: 20px; padding-top: 75px;margin-top:10px;margin-bottom:10px;">
                    <img style="width: 20%; margin-bottom: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Marca_rede-gazeta.svg/1200px-Marca_rede-gazeta.svg.png"/>
                    <h4 style="font-family:Poppins; color: #000; margin-bottom: 20px;">A partir dos valores inseridos por você, podemos determinar o Rat(%) do Total de Domicilios esperado. </h4>
                    <h3 style="font-family:Poppins; color: #000; margin-bottom: 20px;">Audiência Prevista - Rat(%):</h3>
                    <div class = "card" style=" display: block; margin-left: auto; margin-right: auto;padding-top:1%; border-radius:15px; background-color: black; width: 200px; height: 80px;">
                        <h2 style=" text-align: center; font-family:Poppins; color: #fff; margin-bottom: 20px;"> {{ value }}</h2>
                    </div>
                    <div>
                        <img src={{grafico}}/>
                    </div>
                </div>
            </div>
      </div>    
      {% endblock %}
   </body>
</html>